{
  "$schema": "https://json.schemastore.org/prettierrc",
  "tailwindConfig": "./tailwind.base.config.ts",
  "semi": false,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "es5",
  "useTabs": false,
  "bracketSpacing": true
}
