$primary: #378de6
$secondary: #d3d3d3
$success: #157F40
$info: #106BDA
$warning: #9a9c24
$danger: #CE3426
$light: #ececec
$dark: #282a36

$shadow: .2rem .2rem .5rem #181920, -.2rem -.2rem .5em #383941
$inner-shadow: inset .2rem .2rem .5rem #181920, inset -.2rem -.2rem .5rem #383941
$shadow-top: 0rem -.2rem .5rem #383941

@import 'bootstrap/scss/bootstrap.scss'
