// // @import './custom'
// // @import './elements'
// // @import './buttons'
// // @import './hovers'
@import './fonts'
// // @import './transitions'
@tailwind base
@tailwind components
@tailwind utilities
// // @import './components/login-screen.sass'
// // @import './components/menu.sass'
// // @import './components/minesweeper.sass'
// // @import './components/paint.sass'
// // @import './components/loading.sass'

body, html
  margin: 0
  padding: 0
  left: 0
  right: 0
  top: 0
  bottom: 0
  font-family: 'RetroFont'
  font-size: 0.85rem
  overflow: hidden
  p, h1, h2, h4
    margin: 0
    padding: 0

.bg-shadow
  @apply border border-t-gray-200 border-s-gray-200 border-e-black border-b-black

.bg-shadow-inner
  @apply border border-b-gray-200 border-e-gray-200 border-t-black border-s-black
