@import './custom'
@import './elements'
@import './buttons'
@import './hovers'
@import './fonts'

@import './components/login-screen.sass'
@import './components/menu.sass'
@import './components/minesweeper.sass'
@import './components/paint.sass'
@import './components/loading.sass'

body
  background: $success

body, html, .bg-fill
  position: absolute
  margin: 0
  padding: 0
  left: 0
  right: 0
  top: 0
  bottom: 0
  font-family: 'RetroFont'
  font-size: $font-normal
  overflow: hidden
  p 
    margin: 0
    padding: 0
  .line 
    height: 2px
    width: 100%

.center-item
  height: 100vh
  width: 100%
  display: flex
  justify-content: center
  align-items: center

.fit-content
  width: fit-content

.pointer
  cursor: pointer  
  
.bg-shadow
  border-left: 2px solid $white
  border-top: 2px solid $white
  border-right: 2px solid $black
  border-bottom: 2px solid $black

.bg-shadow-inner
  border-left: 2px solid $dark
  border-top: 2px solid $dark
  border-right: 2px solid $white
  border-bottom: 2px solid $white

.shadow-top
  box-shadow: $shadow-top

@font-face 
  font-family: "RetroFont"
  src: url("../assets/PressStart2P-Regular.ttf") format("truetype")

.error-component, .file-explorer
  z-index: 9999
  position: relative

.shut-down, .starting-up
  bottom: 0
  top: 0
  right: 0
  left: 0
  height: 100vh
  width: 100%
  z-index: 9999
  position: absolute
  .bi
    font-size: $font-giant

.shut-down
  background-color: $dark

.game-container
  canvas
    margin: 0 !important
    padding: 0 !important
    display: block
    z-index: 9999
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0

.pc-settings-wrapper
  .content
    border-right: 2px solid $white
    border-bottom: 2px solid $black
    border-left: 2px solid $black
  .nav-item, .tab-fill
    border-bottom: 2px solid $white    
  .active
    border-top: 2px solid $black
    border-right: 2px solid $white
    border-bottom: 2px solid $secondary
    border-left: 2px solid $black
    margin-radius: 5px 5px 0 0
  .tab-fill
    flex-grow: 1

.absolute-center
  top: 40% !important
  left: 50% !important
  transform: translate(-50%, -50%)
  @include media-breakpoint-down(sm)
    top: 20%
    left: 0%
    transform: translate(0, 0)
    margin: 10px 

.fit-content
  width: fit-content