@import './custom'
@import './elements'
@import './buttons'
@import './hovers'
@import './fonts'
@import './transitions'

@import './components/login-screen.sass'
@import './components/menu.sass'
@import './components/minesweeper.sass'
@import './components/paint.sass'
@import './components/loading.sass'

body
  background: $success

body, html, .bg-fill
  position: absolute
  margin: 0
  padding: 0
  left: 0
  right: 0
  top: 0
  bottom: 0
  font-family: 'RetroFont'
  font-size: $font-normal
  color: $dark
  overflow: hidden
  p, h1, h2, h4
    margin: 0
    padding: 0

.fit-content
  width: fit-content

.pointer
  cursor: pointer  
  
$white-border: 2px solid $white
$black-border: 2px solid $dark

.bg-shadow
  border-left: $white-border
  border-top: $white-border
  border-right: $black-border
  border-bottom: $black-border

.bg-shadow-inner
  border-left: $black-border
  border-top: $black-border
  border-right: $white-border
  border-bottom: $white-border

.shadow-top
  box-shadow: $shadow-top

.error-component, .file-explorer
  z-index: 9999
  position: relative

.shut-down, .starting-up
  position: absolute
  bottom: 0
  top: 0
  right: 0
  left: 0
  height: 100vh
  width: 100%
  z-index: 9999
  .bi
    font-size: $font-giant

.shut-down
  background-color: $dark

.game-container
  canvas
    margin: 0 !important
    padding: 0 !important
    display: block
    z-index: 9999
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0

.pc-settings-wrapper
  .content
    border-right: $white-border
    border-bottom: $white-border
    border-left: $black-border
  .nav-item, .tab-fill
    border-bottom: $black-border
  .active
    border-top: $black-border
    border-right: $white-border
    border-bottom: 2px solid $secondary
    border-left: $black-border
    margin-radius: 5px 5px 0 0
  .tab-fill
    flex-grow: 1

.absolute-center
  top: 40% !important
  left: 50% !important
  transform: translate(-50%, -50%)
  @include media-breakpoint-down(sm)
    top: 20%
    left: 0%
    transform: translate(0, 0)
    margin: 10px 

.fit-content
  width: fit-content