@import './custom'
@import './elements'

@import './components/login-screen.sass'
@import './components/menu.sass'
@import './components/minesweeper.sass'

body, html, .bg-fill
  margin: 0
  padding: 0
  height: 90vh
  max-height: 100vh
  width: 100%
  max-width: 100%
  background-color: #282a36

  p 
    margin: 0
    padding: 0

  .line 
    height: 2px
    width: 100%

  .btn
    border-radius: 0%
    min-width: 100px

.center-item
  height: 100vh
  width: 100%
  display: flex
  justify-content: center
  align-items: center

.fit-content
  width: fit-content

.pointer
  cursor: pointer  

.desktop-item
  width: 120px
  text-align: center
  color: $white
  font-weight: 500

canvas 
  position: absolute
  top: 0
  left: 0
  z-index: 9999
  max-width: 800
  max-height: 600

.window-frame-wrapper
  top: 0

.bg-shadow
  box-shadow: $shadow

.bg-shadow-inner
  box-shadow: $inner-shadow

.shadow-top
  box-shadow: $shadow-top

button
  border: none